@charset "utf-8";

#queryBar {
	margin: 5px 0 1px 0;
	width: 100%;
	height: 40px;
}

#consListTable {
	width: 100%;
	height: 85%;
	text-align:center;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:hidden;
}

#consTabHead {
	text-align:center;
	margin: 2px 20px 0px 20px;
	width: 97%;
	table-layout:fixed;
}
#consTabHead tr {
    height: 40px;
    overflow: hidden;
}
#consTabHead td {
    border: 1px solid #a8a5de;
    white-space: nowrap;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
} 

#consTab {
	margin: 2px 20px 10px 20px;
	width: 97%;
	table-layout:fixed;
}
#consTab tr {
    height: 40px;
    overflow: hidden;
}
#consTab td {
    border: 1px solid #a8a5de;
    white-space: nowrap;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
} 

#consPage {
	width: 100%;
	height: 30px;
	text-align:center;
}
